/* Universal Selecctor 
 * {
  color: brown;
  background-color:aqua;
 }
  */

a {
  text-decoration: none;
}

/* Element Selector */
h1:hover {
  color: red;
  font-family: "Courier New";
  background-color: antiquewhite;
  }

/* ID Selector */
#login {
  background-color: rgb(222, 11, 57);
  border-radius: 5px;
}
#signup {
  background-color: #41d9ae;
  border-radius: 9px;
  border-color: rgb(116, 12, 213);
  !important
}

/* Class Selector */
.a {
  color: rgb(244, 243, 243);
  background-color: rgb(217, 20, 95);
}

/* Descendent Selecktor */
p a {
  color: rgb(18, 169, 188);
  background-color: yellow;
}
.post a {
  background-color: blue;
  color: antiquewhite;
}

nav li {
  color: pink;
}

/* Adjacent Sibling Combinator */

p + h2:hover{
  text-decoration: underline;
  color: #41d9ae;
}
.upvote:hover {
  background-color: blue;
  color: white;
  border-radius: 10px;
}

/* Child Combinator */
nav ul li a {
  color: rgb(19, 188, 61);
  background-color: rgb(231, 239, 11);
}

/* Attribute Selector */
/*input[type="text"] {
  color: rgb(212, 11, 98);
  background-color: rgb(202, 226, 43);
}*/
input[type] {
  color: rgb(212, 11, 98);
  background-color: rgb(235, 238, 8);
}

/*practicae Question Solve */
* {
  font-family: "Courier New";
}
#facebook:hover {
  color: #0f74ef;
  background-color: rgb(216, 216, 227);
}

.btn:hover {
  background-color: aqua;
}

#search {
  background-color: rgb(36, 146, 189);
  color: rgb(255, 255, 255);
}

/* Pseudo Class */
.answer:active {
  color: aqua;
  background-color: blue;
  border-radius: 10px;

}
 
 /* Checked */
input[type="radio"]:checked +label {
  color: chartreuse;

}

/* Pseudo Elements */
h1::first-letter {
  color: rgb(150, 35, 245);
}

h2::selection {
  background-color: burlywood;
}

h2::first-line {
  color: blue;
}
