#transition {
  /*alpha channel */
  height: 300px;
  width: 300px;
  background-color: rgba(69, 228, 12, 0.638);
  margin-top: 20px;
  margin: 0 auto;
  /*Transition 
    transition: 0s;*/
  transition: 1s ease-out 1s;
  box-shadow: 2px 2px 40px green;
}

#transition:hover {
  background-color: rgb(219, 123, 13);
  margin-top: 200px;
  /* Transition */
  transition: 2s;
  border-radius: 50%;
}

#opacity {
  /*opacity */
  height: 300px;
  width: 300px;
  background-color: rgb(229, 132, 13);
  opacity: 0.5;
  box-shadow: 3px 3px 10px rgb(9, 222, 165);
}

/*Transform*/
.box {
  height: 100px;
  width: 250px;
  margin-left: 30px;
  border: 3px solid black;
  text-align: center;
}
#div1 {
  background-color: #0f3040;
  transform: rotate(25deg);
  /* Position */
  position: static;
  top: 100px;
  left: 100px; 
}
#div2 {
  background-color: #464858;
  transform: scale(0.5);
  /* Position */
  position: relative;
  top: 50px;
  left: 50px; 
}

#div3 {
  background-color: #a56f63;
  transform: translate(100px, 50px);
  /* Position */
  position: absolute;
  top: 20px;
  left: 20px;
}

#div4 {
  background-color: #d99b7f;
  transform: skew(30deg);
  /* Position */
  position: fixed;
  top: 100px;
  left: 100px;
}
/*#div5 {
  background-color: #845449;
  transform: rotate(30deg) translate(155px);
}*/

#wallpaper {
  height: 300px;
  width: 500px;
  background-color: antiquewhite;
  border: 2px solid black;
  background-image: url("images/leaf.jpg");
  background-size: cover;
  color: aqua;
  text-align: center;
}
