div {
    height: 200px;
    width: 200px;
    background-color: rgb(43, 213, 9);
    border: 2px solid black;
    margin: 5px;
}

#one {
    background-color: blue;
    position: relative;
    z-index: -1;
}

#two {
    background-color: aquamarine;
    position: relative;
    bottom: 50px;
    z-index: 2;
}

#three {
    background-color: brown;
}