.card {
  width: 700px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}

img {
  width: 100%;
  border-radius: 20px;
}

#pets {
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: rgb(176, 99, 5);
}
span {
  color: rgb(144, 81, 5);

}
h3 {
  color: rgb(129, 72, 3);
}