.container {
    height: 400px;
    width: 400px;
    background-color: aliceblue;
    border: 2px solid rgb(55, 216, 231);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.inner {
    height: 100px;
    width: 100px;
    background-color: grey;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;

}

#navbar {
    height: 50px;
    width: 900px;
    background-color: rgb(227, 194, 180);
    border: 2px solid rgb(80, 236, 223);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
#navbar:hover {
    box-shadow: 3px 4px 8px peru;
    transition: 2s;
}
#navbar:active {
    box-shadow: 6px 8px 18px rgb(222, 17, 222);
}

.box {
    height: 50px;
    width: 80px;
    font-size: 24px;
    margin: 5px;
    line-height: 40px;
}
